=content-columns($columnCount, $columnGap: $gridGutterWidth)
    -webkit-column-count: $columnCount
    -moz-column-count: $columnCount
    column-count: $columnCount
    -webkit-column-gap: $columnGap
    -moz-column-gap: $columnGap
    column-gap: $columnGap